<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MIR</display-name>
  <absolute-ordering>
    <name>mir-layout</name>
    <name>mir-module</name>
    <name>mycore</name>
    <others/>
  </absolute-ordering>
  <session-config>
    <cookie-config>
      <name>MCRSESSIONID</name>
    </cookie-config>
  </session-config>
</web-app>