#html5Container {
  display:none;
  margin:0;
  padding:15px
}
#html5Container *:focus {
  outline:none
}
#html5Container #input_field #fileToUpload {
  color:#4b8fbc
}
#html5Container #input_field #dropbox {
  border:2px dashed #2c3e50;
  min-height:15em;
  position:relative;
  cursor:default;
  border-radius:10px
}
#html5Container #input_field #dropbox h2 {
  position:absolute;
  top:50%;
  left:50%;
  margin:-10px 0 0 -93px;
  font-size:18px;
  color:#2c3e50;
  z-index:1
}
#html5Container #input_field #dropbox #fileSize {
  position:absolute;
  bottom:10px;
  right:25px
}

#html5Container #input_field #dropbox #trash {
  position:absolute;
  bottom:10px;
  right:10px
} 

#html5Container #input_field #dropbox.highlight {
  border:2px dashed #6eba6b
}
#html5Container #input_field #dropbox.highlight h2 {
  color:#6eba6b
}
#html5Container #input_field #dropbox #files {
  min-height:100%;
  overflow-y:auto
}
#html5Container #input_field #dropbox #files .fileContainer {
  border-radius:4px;
  margin-left:10px;
  margin-top:10px;
  width:auto;
  padding:4px 8px;
  display:inline-block;
  color:#fff;
  background-color:#6eba6b;
  position:relative;
  z-index:2
}
#html5Container #input_field #dropbox #files .fileContainer:last-child {
  margin-bottom:36px
}
#html5Container #input_field #dropbox #files .fileContainer .filename {
  border-right:1px solid #fff;
  padding:0 6px 0 0
}
#html5Container #input_field #dropbox #files .fileContainer button.removeFile {
  background-image:url('../../images/fileupload/remove.png');
  margin:0 0 0 4px;
  height:16px;
  width:16px;
  border:0;
  background-color:transparent;
  vertical-align:middle
}
#html5Container #input_field #dropbox #files .fileContainer button.removeFile:hover,#html5Container #input_field #dropbox #files .fileContainer button.removeFile:focus {
  background-image:url('../../images/fileupload/remove_highlight.png')
}
#html5Container #button_row {
  margin-top:10px;
  margin-bottom:10px
}
#html5Container #button_row #uploadBtn {
  margin-right:0
}
#html5Container #progressIndicator .progress {
  margin-bottom:4px;
  display:none
}
#html5Container #progressIndicator div #transferSpeedInfo {
  margin-right:2px
}
#html5Container #progressIndicator #uploadResponse {
  margin-top:10px;
  padding:15px;
  display:none;
  border-radius:10px;
  border:1px solid #4b8fbc;
  color:#4b8fbc;
  position:relative
}
