/* base
 * - basic settings for the webpage
 * TODO: what does it mean: basic settings?
 */
//

// set the defaults for all responsive levels here (desktop first)
// after that, use the media queryies to adujust the lower responsive levels

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
  html { scroll-behavior: smooth; }
  @media (prefers-reduced-motion: reduce) {
    html { scroll-behavior: auto; }
  }

  body {
    // TODO do we still need those background settings?
    background-position: 0px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;

    // do not reduce page width below this value
    min-width: 320px;
  }

  #page {
    padding-top: 40px;
    background-color: $body-bg;

    #main_content {
      min-height: 300px;
    }
  }

  // align the footer to the bottom
  body {
    display: flex;          // use flex box model
    flex-direction: column; // sort items in a column
    height: 100vh;          // use full view port height
                            // min-height is not working in IE11
  }
  body > section {
    flex: 1 0 auto; // flex: 1, will use all available space
                    // long notation is needed for IE11
  }
  body > header,
  body > footer {
    flex-shrink: 0; // define this explicit for IE11
  }
  // end: align footer

  #header_box {
    margin: 20px auto 20px auto;
  }
  #project_logo_box {
    float: left;
    a {
      font-size: 18px;
      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }
  #logo_modul {
    letter-spacing: 0.4em;
    padding-left: 12px
  }

  // all the elements that should have no underline by default
  .hit_title,
  .hit_author,
  .hit_source,
  .single_hit_option,
  .names,
  .internal_links,
  .social_links {
    a {
      text-decoration: none;
    }
  }
  .internal_links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .social_links {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0 0 2px 0;
    }
  }
  .social_icons {
    color: transparent;
    background-color:transparent;
    background-image: url(../../../../mir-layout/images/social_icons_flat_372x200.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    vertical-align:top;
    border:none;
    margin-right: 2px;
    &.social_icon_fb {
      background-position: -64px -120px;
    }
    &.social_icon_tw {
      background-position: -191px -120px;
    }
    &.social_icon_gg {
      background-position: -95px -120px;
    }
  }

  // TODO move this to the typo styles
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-rendering: optimizeLegibility;
    line-height: 180%;
  }

  // TODO move this to the typo styles
  .jumbotwo {
    h2 {
      font-size: 40px;
      margin: 0px 0 30px 0;
    }

    h3 {
      span {
        padding-right: 20px;
      }
    }
  }

  // TODO move this to the upload styles
  .uploadDragging {
    color: #2d9700;
    background-color: #4B8FBC;
  }

  // TODO move this to the menu styles
  .dropdown-menu {
    z-index: 2000;
  }

  // TODO move this to the player styles
  .mir-player {
    margin-bottom: 30px;
  }

  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-rendering: optimizeLegibility;
    line-height: 180%;
  }

  #powered_by {
    text-align: center;
    background-color: #080F1F;
    border-top: 1px solid #000;
    padding: 2em 0px;
  }

  .dropdown-menu {
    z-index: 2000;
  }

  .mir-player {
    margin-bottom: 30px;
  }

  // styles example page
  .bs-docs-section {
    .bs-component + .bs-component {
      margin-top: 1rem;
    }

    .page-header h1 {
      padding: 2rem 0;
      font-size: 3rem;
    }

    .progress {
      margin-bottom: 10px;
    }

    .pagination {
      margin-bottom: 1rem;
    }
  }

  // TODO: workaround for fontawesome weights
  // see https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use
  .fas {
    font-weight: 900;
  }
  .far {
    font-weight: 400;
  }

  /*
   * overwrite bootstrap settings for anchor elements without a href attribute
   * anchor elements should be shown as a link even when:
   * - a href attribute is missing and
   * - a tabindex attribute is missing and
   * - it is not a pagination link and
   * - it has no dropdown-item class
   */
   a:not([href]):not([tabindex]):not(.dropdown-item):not(.page-link) {
    color: $link-color;
    text-decoration: $link-decoration;
    cursor: pointer;
    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  /*
   * items with dropdown-item class and no href attribute
   * should be shown as dropdown-item anyway
   * overwrite bootstrap settings for no href elements and
   * reapply settings for dropdown-items
   */
   a:not([href]).dropdown-item {
    color: $dropdown-link-color;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
    }
    &.active,
    &:active {
      color: $dropdown-link-active-color;
    }
    &.disabled,
    &:disabled {
      color: $dropdown-link-disabled-color;
    }
  }

  .alert-dismissible .close:hover {
    color: inherit;
  }

  // bs 5 droped jumbotron
  // we keep it alive
  $jumbotron-padding: 2rem !default;
  $jumbotron-color: null !default;
  $jumbotron-bg: $gray-200 !default;

  .jumbotron {
    padding: $jumbotron-padding ($jumbotron-padding / 2);
    margin-bottom: $jumbotron-padding;
    color: $jumbotron-color;
    background-color: $jumbotron-bg;
    @include border-radius($border-radius-lg);

    @include media-breakpoint-up(sm) {
      padding: ($jumbotron-padding * 2) $jumbotron-padding;
    }
  }
  .jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    @include border-radius(0);
  }


// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xl and lower
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {
  // lg and lower
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {
  // md and lower
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
  // sm and lower
}

// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
  // xs
}
