.dragover {

  .file_set, .well {
    background-color: $info !important;

    .file_name a {
      color: $info !important;
    }
  }

  background-color: darken($info, 10%)!important;
  color: darken($info, 10%) !important;
}

[data-upload-target].well {
  text-align: center;
}
