.metadata {
  overflow: hidden;
  border: none;
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
  margin: 2em 0;
  th {
    text-align: right;
  }

  th , td {
    border: none;
    padding: 0.25em 0.5em;
  }

  tr.subcaption {
    font-style: italic;
    font-size: 116.67%;
    line-height: 1.2857em;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
    th {
      padding: 1.25em 0.25em 0 0.25em;
      text-align: left;
    }

    + tr th , + tr td {
      padding-top: 0.75em;
    }
  }

  caption {
    font-variant: normal;
    font-weight: bold;
    font-size: 116.67%;
    line-height: 1.2857em;
    margin: 0 0 1.2857em 0;
    text-align: left;
    border-bottom: 1px dashed;
    margin-bottom: 0.5em;
    display: none;
    border-color: #C6C9B7;
  }
}

ol.topic-list{
  list-style: none;
  display: block;
  padding: 0;
  margin-bottom: 0;
}

ol.topic-list:not(:last-child){
  margin-bottom: 0.5em;
}

li.topic-element {
  &:not(:last-child):after {
    content: "/";
    margin-right: 5px;
    margin-left: 5px;
  }
  display: inline;
}

.workflow-box {
  padding: 0.75rem 1rem;;
  margin-bottom: 1rem;
  background-color: $gray-200;
  border-radius: $border-radius;
}

#mir-edit-div, #mir-abstract-badges-div {
  margin-bottom: 15px;
}

#badges {
  a.mods_genre {
    margin-right: 3px;
  }
  time {
    .date_published {
      margin-right: 3px;
    }
  }
  a.access_condition {
    margin-right: 3px;
  }
  .hit_state {
    display: inline;
    color: $white;
    .mir-published {
      background-color: $success;
    }
    .mir-submitted,
    .mir-new,
    .mir-imported {
      background-color: $warning;
    }
    .mir-review {
      background-color: $primary;
    }
    .mir-blocked {
      background-color: $danger;
    }
    .mir-deleted {
      background-color: $secondary;
    }
    span {
      background-color: $secondary;
    }
  }
}

#authors_short {
  hyphens: none;
}

#mir_access_rights_panel, #mir-access-rights-panel {
  p {
    text-align: center;
  }
}
#cite_link_box {
  text-align: center;
  .label {
    margin: 0px 2px;
  }
  #copy_cite_link {
  }
  #url_site_link {
    font-size: 12px;
  }
  #cite_link_code_box {
    display: none;
    border: 1px solid #ccc;
    width: 100%;
    font-family:monospace;
  }
}

.cc-logo img {
  width: 88px;
}

.shariff {
  margin-bottom: 10px;
  text-align: center;
}

.shariff .orientation-horizontal.button-style-standard li {
  min-width: 85px;
  max-width: 160px;
}

#mir-metric-badges {
  margin-top: 10px;
}
.altmetric-embed {
  margin-bottom: 20px;
}

#citation-style {
  margin: 0px 0px;
}

#citation-text {
  margin: 10px 0px;
}

$grayLight: #f6f6f6 !default;
$grayDark: #ECF0F1 !default;

#mir_relatedItem {
  list-style: none;
  li {
    margin-bottom: 0.3em;
    ul {
      list-style: none;
      margin-bottom: 0.5em;
    }
    span {
      cursor: pointer;
    }
    span.fas {
      color: #ccc;
      margin-right: 0.5em;
    }
  }
}

#mir_relatedItem_showAll, #mir_relatedItem_hideAll {
  font-size: $font-size-base;
}

.mir_identifier_hidden_input {
  position: absolute;
  top: 0;
  right: 0;
  border: aliceblue;
  background: transparent;
  color: transparent;
}

.mir_copy_wrapper {
  position: relative;
}

.mir_copy_identifier {
  position: absolute;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
  top: 12px;
}

.card .mir-player:not(:only-child) {
  border: 15px solid #ecf0f1;
  border-top: 0;
}

#player_audio {
  background: url('../../../../images/audio.png') no-repeat center center;
}

#crossref-citation-alert {
  text-align: center;
  padding: 5px;
}

#crossref-citation-error {
  padding-left: 5px;
  cursor: pointer;
}

#modal-pi .fa {
  font-size: 40px;
  padding-left: 20px;
}

.hidden-calc {
  visibility: hidden!important;
  overflow: hidden!important;
  display: block!important;
  position: absolute!important;
}

#mir-abstract-tabs .tab-content, #mir-abstract {
  position: relative;
  margin-bottom: 20px;

}

.mir-abstract-overlay-tran {
  height: 35px;
  background-color: #fff;
  position: absolute;
  bottom: 20px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.mir-epusta-logo {
  height: 40px;
}
.mir-epusta-graph {
  width:100%;
  height:200px;
}

.mir-ror-logo {
  height: 20px;
}
.mir-toc-sections {
  list-style-type: none;
  padding-left: 0;
}
.mir-toc-sections-toggle {
  font-size: smaller;
  float: right;
}
.mir-toc-section {
  padding-bottom: 0.5rem;
}
.mir-toc-section-toggle {
  color: #999;
  margin-right: 1ex;
  vertical-align: top;
}
.mir-toc-section-toggle:hover{
  text-decoration: none;
}
.mir-toc-section-label {
  display: inline-block;
}
.mir-toc-section-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 0.5rem;
}
.mir-toc-section-entry {
  padding-top: 0.5rem;
}
.mir-toc-section-title {
  font-size: $font-size-base;
  margin-bottom: 0;
}
.mir-toc-section-content {
  margin-left: calc(1.25em + 1ex);
  padding-left: calc(1.25em + 1ex);
}
.mir-toc-section-content .mir-toc-sections {
  margin-left: calc(-1.25em - 1ex);
}
.mir-toc-section-page {
  text-align: right;
}
.mir-toc-section-object-link,
.mir-toc-section-page,
.mir-toc-section-author {
  line-height: $headings-line-height;
}
