//
// Main Menu
// --------------------------------------------------

  // main nav
  .mir-main-nav {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px -1px 1px rgba(0, 0, 0, 0.15);  // shadow effect
    border: none;
    border-radius: 0px;
    margin: 0;

    .navbar-header {
      float: left;
      margin: 0 0 0 0px;
      .navbar-toggle {
        margin-right: 5px;
      }
    }

    .searchfield_box {
      margin: 10px 0 0 0;
      .navbar-form {
        width: 100%;
        margin: 0;
        padding: 0;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.1) inset, 0px 0px 0px rgba(255, 255, 255, 0);
        .form-group {
          float:right;
          #searchInput {
            width: 170px;
          }
        }
        .btn {
          float: right;
          margin-right: 0;
          margin-top: 4px;
          margin-left: 5px;
          padding: 4px 10px;
        }
      }
    }

    // navigation container
    nav {
      &:before {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0px;
      }
      &.navbar-collapse.in {
        overflow-y: visible;
      }
      padding-left: 0px;                          // align to left
      &.navbar-collapse {
        padding-right: 0;
      }

      // Dropdown menu items and carets
      .navbar-nav {
        margin: 0;
        // menu entry
        > li > a {
          color:white; // white link
          border-bottom: 0px solid transparent;       //place holder
          // menu entry - hover and focus
          &:focus {
            color: white;
            background-color: transparent;
            border-bottom: 0px solid lighten($primary, 50%);
            // caret
            .caret {
              border-top-color: white !important; // allways white
            }
          }
          &:hover {
            color: white;
            background-color: lighten($primary, 25%);
            border-bottom: 0px solid lighten($primary, 50%);
            // caret
            .caret {
              border-top-color: white !important; // allways white
            }
          }
        }
        // active entry
        > li.active > a {
          border-bottom: 0px solid white;             // white bottom border
          // current menu entry - hover and focus
          &:hover,
          &:focus {
            color: white;
            border-bottom: 0px solid white;
          }
        }
        // Remove background color from open dropdown
        > .open > a {
          &,
          &:hover,
          &:focus {
            // caret
            .caret {
              border-top-color: transparent !important; // allways white
              border-bottom-width: 4px !important;
              border-bottom-color: white !important; // allways white
            }
          }
        }

        // The dropdown menu (ul)
        .dropdown-menu {
            background-color: lighten($primary, 15%);
            border-radius: 4px !important;
            margin-top: 4px !important;
            &:before {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: 20px;
                top: -10px;
                border: 5px solid;
                border-color: transparent transparent lighten($primary, 15%) transparent;
            }
            &:after {
                /*content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 34px;
            top: 120px;
            border: 15px solid;
            border-color: #fff transparent transparent #fff;*/
            }
            // Links within the dropdown menu
            > li > a {
                color: white;
                // Hover/Focus state
                &:hover,
                &:focus {
                    color: white;
                    background-color: lighten($primary, 30%);
                }
            }
            // Active state
            > .active > a {
                &,
                &:hover,
                &:focus {
                    color: white;
                    background-color: lighten($primary, 30%);
                }
            }
        }

      }
    }
  }

/*
TODO: migrate see https://getbootstrap.com/docs/4.0/migration/ strg+f Grid breakpoints
@media (min-width: 420px) {
  .mir-main-nav .searchfield_box .navbar-form .form-group #searchInput {
    width: 250px;
  }
}
@media (min-width: $screen-tablet) {
  .mir-main-nav .searchfield_box .navbar-form .form-group #searchInput {
    width: 200px;
  }
  .mir-main-nav nav:before {
    content: "";
    clear: none;
  }
  .mir-main-nav nav .navbar-nav {
    width: auto;
    margin: 0px -15px;
  }
}
@media (min-width: $screen-desktop) {
  .mir-main-nav .searchfield_box .navbar-form .form-group #searchInput {
    width: 300px;
  }
}*/