.mir-badge-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 0.2em;
  .badge {
    color: $white;
    background-color: $primary;
    display: inline-flex;
  }

  [class*="mir-badge-genre-"] {
    background-color: $info;
  }

  [class*="mir-badge-orcid-in-profile"] {
    gap: 0.3em;
  }

  .mir-badge-state-published {
    background-color: $success;
  }
  .mir-badge-state-submitted,
  .mir-badge-state-new,
  .mir-badge-state-imported {
    background-color: $warning;
  }
  .mir-badge-state-review {
    background-color: $primary;
  }
  .mir-badge-state-blocked {
    background-color: $danger;
  }
  .mir-badge-state-deleted {
    background-color: $secondary;
  }

  .mir-badge-oa-true {
    background-color: $success;
  }
  .mir-badge-oa-false {
    background-color: $warning;
  }
}

