/******************************************************************************
 * hit list
 *****************************************************************************/

$dark_neutral: $gray-600 !default; // dark gray #999
$light_neutral: $gray-500 !default; // light gray #ccc
$link_color: $link-color !default; // blue  #4b8fbc
$highlight: $warning !default; // orange #f39c12

$filter_back: #ECF0F1 !default;
$filter_border: #ccc !default;
$filter_headline: #999 !default;
$filter_hits: #999 !default;
$filter: #666 !default;
$hover_darken: 20%;

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

.result_head {
  h1 {
    margin: 0 0 20px 0;
  }
}

.result_searchline {
  margin-bottom: 20px;
  .result_search {
    .search_box {
      display: inline-block;
      width: 100%;
      margin-top: 25px;
      .caret {
        margin-left: 6px;
      }
    }
  }
}


.result_body {
  .result_filter {
    float: right;
    @include clearfix;

    .btn-csl-export {
      @extend .btn-secondary;
    }

    h2 {
      text-align: center;
      margin: 0 10px 23px 0;
    }

    .card {
      border: 1px solid $filter_border;
      color: $filter;
      margin: 0px 0 20px 0;
      float: left;
      width: 100%;
      .card-header {
        cursor: pointer;
        .card-title {
          font-size: 1rem;
          color: $filter_headline;
          margin-bottom: 0px;
          &:hover {
            color: shade-color($filter_headline, $hover_darken);
          }
        }
      }
      .filter {
        li {
          cursor: pointer;
          &:hover {
            .form-check {
              label {
                .title {
                  color: shade-color($filter, $hover_darken);
                }
                .hits {
                  color: shade-color($filter_hits, $hover_darken);
                }
              }
            }
          }
          .form-check {
            label {
              cursor: pointer;
              .hits {
                color: $filter_hits;
              }
            }
            input {
              cursor: pointer;
            }
          }
        }
      }
      &.worldReadableComplete {
        li[data-fq^='worldReadableComplete']{
          .title:before{
            display: inline-block;
            font: normal normal 900 14px/1 'Font Awesome 5 Free';
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: 5px;
          }
        }
        li[data-fq='worldReadableComplete:true'] {
          .title {
            @extend .text-success;
            &:before{
              content: "\f13e"; //fa-unlock-alt
            }
          }
        }
        li[data-fq='worldReadableComplete:false'] {
          .title {
            @extend .text-warning;
            &:before{
              content: "\f023"; //fa-lock
            }
          }
        }
      }

    }
  }
  .result_list {
  #hit_list {
    .hit_item {
      margin-bottom: 30px;
      border-top: 1px solid $light_neutral;
      border-radius: 10px;
      .hit_counter {
        text-align: center;
        font-weight: bold;
        color: $light_neutral;
        border: 1px solid $light_neutral;
        border-width: 0 0 0 1px;
        border-top-left-radius: 10px;
        padding: 1px 0 0 0;
        width: 73px;
        float: left;
      }
      .hit_stars {
        margin: 0px 0px 5px 15px;
        overflow: hidden;
        width: 73px;
        float: left;
        .hit_star {
          float:left;
          width: 5px;
          height: 5px;
          background-color: $light_neutral;
          margin: 8px 2px 0 2px;
          border-radius: 50%;
        }
      }
      .hit_stars_1 .hit_star_1 {
        background-color: $dark_neutral;
      }
      .hit_stars_2 .hit_star_1 {
        background-color: $dark_neutral;
      }
      .hit_stars_2 .hit_star_2 {
        background-color: $dark_neutral;
      }
      .hit_stars_3 .hit_star_1 {
        background-color: $dark_neutral;
      }
      .hit_stars_3 .hit_star_2 {
        background-color: $dark_neutral;
      }
      .hit_stars_3 .hit_star_3 {
        background-color: $dark_neutral;
      }
      .hit_stars_4 .hit_star {
        background-color: $dark_neutral;
      }
      .hit_stars_4 .hit_star_5 {
        background-color: $dark_neutral;
      }
      .hit_stars_5 .hit_star {
        background-color: $dark_neutral;
      }
      .hit_star_1 {}
      .hit_star_2 {}
      .hit_star_3 {}
      .hit_star_4 {}
      .hit_star_5 {}
      .hit_download_box {
        position:relative;
        float: left;
        width: 73px;
        display: none;
      }
      a .hit_icon {
        &:hover {
          box-shadow: 1px 1px 4px #999;
        }
      }
      .hit_icon {
        height: 100px;
        background-color: #EDEDED;
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        border: 1px solid $light_neutral;
        border-bottom-left-radius: 25px;
      }
      .hit_icon_overlay {
        position: absolute;
        top: 20px;
        left: -8px;
        width: 50%;
      }
      .hit_tnd_container {
      }
      .hit_tnd_content {
      }
      .hit_title {
        font-size: 20px;
        margin: 15px 0 5px 0;
        border-left: 0px solid $light_neutral;
      }
      .hit_author {
        font-size: 16px;
        margin: 0 0 0px 0;
      }
      .hit_source {
        margin-top: 10px;
        .label_parent {
          color: $dark_neutral;
        }
      }
      .hit_abstract {
        margin: 10px 0 5px 0;
      }
      .hit_pub_name {
        .label_publisher {
          color: $dark_neutral;
        }
      }
      .hit_options {
        .btn {
          margin-right: 0px;
          padding: 2px 10px;
          background-color: transparent;
          border: 1px solid $light_neutral;
          border-width: 0px 1px 0px 0px;
          border-radius: 0;
          border-top-right-radius: 10px;
          color: $dark_neutral;
          &:hover {
            color: $link_color;
            background-color: transparent;
          }
        }
        .caret {
          margin-left: 6px;
        }
        .hit_option {
          .fas,
          .far {
            margin-right: 5px;
          }
        }
      }
      .single_hit_option {
        margin-right: 0px;
        padding: 2px 10px;
        background-color: transparent;
        border: 1px solid $light_neutral;
        border-width: 0px 1px 0px 0px;
        border-radius: 0;
        border-top-right-radius: 9px;
        a:hover {
          color: $link_color;
          text-decoration: none;
        }
        a {
          color: $dark_neutral;
          .fas,
          .far {
            margin-right: 5px;
          }
        }
      }
    }
    .hit_item:hover {
      border-color: $highlight;
      border-bottom-left-radius: 25%;
      .hit_counter {
        color: $highlight;
        border-color: $highlight;
      }
      .hit_stars_1 .hit_star_1 {
        background-color: $highlight;
      }
      .hit_stars_2 .hit_star_1 {
        background-color: $highlight;
      }
      .hit_stars_2 .hit_star_2 {
        background-color: $highlight;
      }
      .hit_stars_3 .hit_star_1 {
        background-color: $highlight;
      }
      .hit_stars_3 .hit_star_2 {
        background-color: $highlight;
      }
      .hit_stars_3 .hit_star_3 {
        background-color: $highlight;
      }
      .hit_stars_4 .hit_star {
        background-color: $highlight;
      }
      .hit_stars_5 .hit_star {
        background-color: $highlight;
      }
      .hit_icon {
        border-left-color: $highlight;
      }
      .hitmid {
        border-color: $highlight;
      }
      .btn {
        border-color: $highlight;
      }
      .hit_title {
        border-color: $link_color;
      }
    }
  }
  .result_list_end {
    height: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid $light_neutral;
    border-width: 0 1px 1px 1px;
    margin: 0 0 20px 0px;
  }
  }
}


/* file box *****************************************************************/
$file_box_color: $card-bg !default;

      .file_box {
        border: 0px solid $file_box_color;
          border-radius: 0px;
          margin-bottom: 30px;

        .filelist-loading {
          position: absolute;
          width: 100%;
          text-align: center;
          div {
            width: 18px;
            height: 18px;
            background-color: #333;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
          .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
          }
          .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
          }
        }
        .file_box_breadcrumbs {
          padding: 5px 0;
          overflow: hidden;
          .derivate_folder {
            padding-right: 5px;
          }
          .derivate_folder > a:after {
            content: "/";
            padding-left: 5px;
          }
        }
        .header {
          .headline {
            border-bottom: 1px solid #ddd;
            padding: 0px 0 0px 0;
            .title {
              padding: 0 0 0 0;
              .file_toggle {
                font-size: 16px;
                border: none;
                background-color: transparent;
                color: #333;
                padding: 0;
                font-weight: 300;
                .set_number {
                  margin-left: 6px;
                }
              }
            }
            .options {
                .btn {
                  border: 0px solid transparent;
                  margin-right: 0px;
                  background-color: transparent;
                  color: $primary;
                  padding: 5px 10px;
                  font-size: 12px;
                  line-height: 1.5;
                  &:hover {
                    color: $link_color;
                    background-color: transparent;
                  }
                }
                .caret {
                  margin-left: 6px;
                }
                .option {
                  .fas,
                  .far {
                    margin-right: 5px;
                  }
                }
            }
            .title {
              float: left;
            }
          }
        }
        .body {
          .table {
            margin-bottom: 0;
          }
          .file_set {
            a {
              text-decoration: none;
            }
            &.active_file {
              background-color: fade($primary, 5%);
              .file_name {
                position: relative;
                font-weight: bold;
                > a::after {
                  font-family:"Font Awesome 5 Free"; // TODO: Find fontawesome mixing for sass
                  font-weight: 900;
                  content: "\f005";
                  position: absolute;
                  right: 0;
                  top: 0;
                  margin-top: 5px;
                  // color: $text-color; TODO: whats the bootstrap 4 default color?
                }
              }
            }
            &.waiting_file {
              background-color: fade($primary, 5%);
              .file_name {
                position: relative;
                font-weight: bold;
                > a::after {
                  content: " ";
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  right: 0;
                  top: 0;
                  border-radius: 100%;
                  margin-top: 5px;
                  // color: $text-color;TODO: whats the bootstrap 4 default color?
                  //background-color: $text-color; TODO: whats the bootstrap 4 default color?
                  animation: sk-scaleout 0.8s infinite ease-in-out;
                  -webkit-animation: sk-scaleout 0.8s infinite ease-in-out;
                }
              }
            }

            .options {
                .btn {
                  margin-right: 0px;
                  padding: 2px 10px;
                  background-color: transparent;
                  border: 1px solid $light_neutral;
                  border-width: 0px 0px 0px 0px;
                  border-radius: 0;
                  border-top-right-radius: 0px;
                  color: $dark_neutral;
                  &:hover {
                    color: $link_color;
                    background-color: transparent;
                  }
                }
                .caret {
                  margin-left: 6px;
                }
                .option {
                  .fas,
                  .far {
                    margin-right: 5px;
                  }
                }
            }
            .file_date {}
            .file_preview {}
            .file_name {}
            .derivate_folder {
              cursor: pointer;
            }
            .go_back {
              padding-left: 140px;
            }
            .file_urn {
                padding-left: 2px;
            }
            .file_size {}
          }
        }

        .file_box_pagination {
          .pagination-info, .pagination {
            margin: 5px 0;
          }

          .pagination-info {
            // line-height: $line-height-small; // TODO find small text height
          }
        }
      }

/* filter *******************************************************************/

.filter {
    border-right: 0px solid #ccc;
}
.filter,
.filter > li ul {
    list-style:none;
    margin:0;
    padding:0;
}
.filter > li ul {
    display:none;
}
.filter > li {
    margin:0 0 0px 0;
    padding:0 0 0 0;
}
.filter > li > ul > li {
    margin:0 0 0px 0px;
    padding:0 0 0 0;
}
.filter .hits {
    color: #ccc;
}
.filter .hits:before {
    content: " (";
}
.filter .hits:after {
    content: ")";
}


/* orcid ***************************************************/

div.orcid-status, div.orcid-publish {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
div.orcid-publish {
  padding-top: 10px;
  padding-left: 78px;
}
img.orcid-icon {
  width: 2.5ex;
  height: 2.5ex;
  margin-right: 1ex
}
span.orcid-info {
  box-sizing: border-box;
  border-radius: 0.25em;
  color: rgb(0,76,147);
  font-weight: bold;
  line-height: 2.5ex;
  padding: 0em 0.6em 0em 0.6em;
  margin-right:0.5ex;
  vertical-align: baseline;
}
span.orcid-in-profile-true {
  color: rgb(166, 206, 57);
  position: relative;
  top: 3px;
}
span.orcid-in-profile-false {
  color: red;
  position: relative;
  top: 3px;
}
button.orcid-button {
  padding: 4px 7px 4px 7px;
  margin-top: 0;
  font-weight: normal;
  border: 1px solid #dce4ec;
  background-color: #a6ce39;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
button.orcid-button:hover, button.orcid-button:active  {
  background-color: #004C93;
  text-decoration: none;
  background-color: #a1c04d;
  color: #666;
  text-decoration: none;
}


/* xs: default up to 750px ***************************************************/


/* xs hd */
@media (min-width: 350px) {
  .result_body .result_list #hit_list .hit_item .hit_download_box {
    display: block;
  }
  .result_body .result_list .result_list_end {
    margin: 0 0 20px 73px;
  }
  .hit_tnd_container,
  .hit_title,
  .hit_author,
  .hit_source,
  .hit_abstract,
  .hit_pub_name {
    padding-left: 88px;
  }

}


/* sm: up to 970 px **********************************************************/
/*
TODO: migrate see https://getbootstrap.com/docs/4.0/migration/ strg+f Grid breakpoints
@media (min-width: $screen-tablet) {
  .result_body .result_filter .panel, .basket_button {
    float: right;
    width: 90%;
  }
  .result_body .result_filter h2 {
      text-align: right;
  }
}
*/
