//
// Top Menu
// --------------------------------------------------

// main nav
.mir-prop-nav {
    z-index: 2030;
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;

    // navigation container
    nav
    {
        padding: 0;

        // right menu
        ul.float-end > li {
          margin-left: 15px;
        }
    }

    // Dropdown menu items and carets
    .navbar-nav {
        margin: 0;
        // menu entry
        > li > a
        {
            color: $gray-400;
            font-size: 85%;
            padding: 3px;
            // caret
            .caret {
                border-top-color: $gray-400;
            }
            // menu entry - hover and focus
            &:hover,
            &:focus
            {
                color: $link-color;
                background-color: transparent;
            }
            strong {
              font-weight: normal;
            }
        }
        // active entry
        > li.active > a {
            color: $link-color;
            background-color: transparent;
            // current menu entry - hover and focus^
            &:hover,
            &:focus
            {
                color: $link-color;
                background-color: transparent;
            }
            .caret {
              border-top-color: $link-color;
            }
        }
    }
}

.mir-lang {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    margin-top: 0px;
    background-color: white;
    position:absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  }
}
