#basket-list-item sup { margin-left: 5px;}

#basket {
  ol {
    margin: 2em 0;
  }
  .basketContent {
    margin: 0;
    float: none;
  }

  .btn-csl-export {
    @extend .btn-primary;
  }
}

.basket_form {
  margin-top: 25px;
}

.basket_button {
  height: 35px;
  font-size: 13px;
  line-height: 1.5;
  float: left;
  width: 100%;
  padding: 6px 9px;
}
