// TODO refactor to?
$dark_neutral: $gray-600 !default; // dark gray #999

.mir-badge-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 5px
}

.mir-badge-date {
  color: $dark_neutral;
}

.mir-badge-genre {
  color: $dark_neutral;
}

.mir-badge-state {
  color: $white;
  .mir-published {
    background-color: $success;
  }
  .mir-submitted,
  .mir-new,
  .mir-imported {
    background-color: $warning;
  }
  .mir-review {
    background-color: $primary;
  }
  .mir-blocked {
    background-color: $danger;
  }
  .mir-deleted {
    background-color: $secondary;
  }
  span {
    background-color: $secondary;
  }
}
