//
// Panels
// --------------------------------------------------

.flatmir-footer {
    color:                      $gray-400;
    background-color:           $primary;
    border-top:                 1px solid shade-color($primary, 50%);
     @include border-bottom-radius(0); // overwrite default
    margin-top:                 50px;
    padding:                    0px;

    .container {
      margin-top:               10px;
      margin-bottom:            10px;
    }
}
.flatmir-footer h4 {
    color:                      $gray-100;
}
.flatmir-footer a {
    color:                      $gray-100;
    &:hover,
    &:focus {
      color:                  white;
      text-decoration:          underline;
    }
}