//
// Panels
// --------------------------------------------------

.flatmir-footer {
    color:                      $gray;
    background-color:           $brand-primary;
    border-top:                 1px solid darken($brand-primary, 50%);
     @include border-bottom-radius(0); // overwrite default
    margin-top:                 50px;
    padding:                    0px;

    .container {
      margin-top:               10px;
      margin-bottom:            10px;
    }
}
.flatmir-footer h4 {
    color:                      $gray-lighter;
}
.flatmir-footer a {
    color:                      $gray-lighter;
}