@media print {
  #options_nav_box,
  .mir-main-nav,
  .bread_plus,
  #mir-search_browsing,
  #aux_col_actions > div,
  .mir-preview,
  .shariff,
  #copy_cite_link,
  #mir_export_panel,
  footer,
  #powered_by
  {
    display: none;
  }

  a[href]:after{
    content:"";
  }
  .nav-tabs {
    display: none;
  }
  .mir_metadata {
    display:table;
    width:100%;
  }
}