/* ----------------
 *   Attention
 * ----------------
 * You dont have access to bootstrap or bootswatch variables here.
 * They are still unknown, except they were defined before in:
 * - the project variables,
 * - theme variables or
 * - here directly
 *
 * Please use the default flag for all variables in this file,
 * so previous set variables will not be overwriten.
 * Overwriting will cause a breakdown of the CSS architecture.
 *
 * If you like to read more about the CSS architecture, see the comment in:
 * ../template.scss.template
 */

// bootstrap settings
$body-color: #212529 !default;

// removes bootwatchs google fonts
$web-font-path: "" !default;

$icon-font-path: "../../../../mir-layout/assets/bootstrap/fonts/bootstrap/" !default;
$font-size-base: 0.875rem !default;

// outdated, just to keep compatibility
$alert-warning-bg: lighten($brand-warning, 35%) !default;
$alert-warning-text: $brand-warning !default;

// set color for close button
$close-color: $body-color !default;

// navbar adjustments
// bootstrap uses $success color instead
$mir-navlink-hover-color: white !default;
$mir-navlink-active-color: white !default;
