//
// Forms
// --------------------------------------------------

.form-control-focus(@color: @brand-warning) {
  .navbar-default &:focus {
    border-color: @color;
  }
}

//
// Buttons
// --------------------------------------------------

.btn {
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 5px;
}

//
// Confirmation
// --------------------------------------------------

.modal-content {
    top: 50px;
}
