/******************************************************************************
 * detail view
 *****************************************************************************/

#search_options {
  text-align: center;
  margin: 0 0 20px 0;
  .btn {
    margin-right: 0px;
    vertical-align: top !important;
  }
}

.bread_plus {
  .detail_block {
    position: absolute;
    right: 12px;
    top: 2px;
  }
}