//
// Forms
// --------------------------------------------------
.form-control-focus (@color: @brand-warning) {
  .navbar-default &:focus {
    border-color: @color;
  }
}

// fix MIR-167
.form-control-feedback {
  pointer-events: auto;
}

*:not(.input-group-btn) > .btn {
  margin-right: 5px;
}

.form-pmud .btn {
  margin-right: 3px;
  margin-top: 2px;
  padding: 8px 12px;
}

.navbar-left > .btn {
  padding: 5px 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.modal-content {
  top: 50px;
}

.required:before {
  content:"* ";
}

.required > label:before {
  content:"* ";
}

.info-button {
  color: #2C3E50; //#74898A;
  background-color: #ECF0F1;
  border: 1px solid #DCE4EC;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 2px;
}

#titles_thesis, #titles_thesis_translated {
  padding-bottom: 15px;
}

//
// Checkboxes
// --------------------------------------------------
.checkbox input[type="checkbox"] {
  position: relative;
  margin-bottom: 6px;
}

// --------------------------------------------------
//    submit puplication
// --------------------------------------------------
#more_options_toggle {
  color: @gray;
  margin: 0 0 20px 0;
  #more_options_trigger {
    cursor: pointer;
    #more_options_button {
      font-size: 16px;
      margin-left: 10px;
      vertical-align: middle;
    }
    #more_options_label {
      padding: 0 0 0 10px;
      vertical-align: middle;
    }
    &:hover {
      #more_options_button {
        color: @brand-warning;
      }
      #more_options_label {
        color: @brand-primary;
      }
    }
  }
}
#more_options_box {
  display: none;
}

// --------------------------------------------------
//    mir_form_group
// --------------------------------------------------
.mir-form-group-head {
	margin-left: 30px;
	border-style: solid; 
	border-width: 0px 0px 2px 0px; 
	border-color: #ccc; 
	border-bottom-left-radius: 10px;
	padding: 3px;
	padding-left: 21px;
	font-size:21px;
}
div.mir-form-group > div.col-md-6{
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #ccc;
	padding-left:13px;
}
div.mir-form-group > div{
	padding-top:3px;
	padding-bottom:3px;
}
div.mir-form-group:last-child > div.col-md-6 {
	padding-bottom:6px;
	border-bottom-left-radius: 10px;
}
div.mir-form-group:first-child > div {
	padding-top:6px;
}
.mir-form-group-pmud {
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: #ccc;
	border-bottom-left-radius: 10px;
}
.mir-form-group{
	margin-bottom: 0px;
}
.mir-form-group-body {
	margin-bottom: 12px;
}

/* xs: default up to 750px ***************************************************/

#submit_publication {
  input,
  select,
  #more_options_box p {
    width: 90%;
  }
}

/* xs hd */
@media (min-width: 350px) {
  #submit_publication {
    input,
    select,
    #more_options_box p {
      width: 300px;
    }
  }
}


/* sm: up to 970 px **********************************************************/
@media (min-width: @screen-tablet) {
  #submit_publication {
    input,
    select,
    #more_options_box p {
      width: 100%;
    }
  }
}