.viewer {
  // .viewer is only the embedded viewer
  height: 550px;
  position: relative;
  margin-bottom: 30px;

  .navbar.navbar-default {
    background-color: #ECF0F1;

    .dropdown {
      height: 36px;
    }
  }

  .btn {
    background-color: #999;
    border-color: #999;
    padding: 6px 10px;
  }

}

h3.mir-viewer {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD;
  font-size: 16px;
}


.mycoreViewer {

  &:not(.viewer) .navbar.navbar-default {
    select {
      height: 44px;
    }

    button {
      padding: 10px 15px;
    }
  }

  .navbar.navbar-default .btn {
      margin-top: 9px;
    }

  > div:not(.navbar):not(.navbar-default) {
    top: @navbar-height;
  }
}