/******************************************************************************
 * detail view
 *****************************************************************************/

.detail_block {
  h3 {
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }
}

#search_options {
  text-align: center;
  margin: 0 0 20px 0;
  .btn {
    margin-right: 0px;
    vertical-align: top !important;
  }
}

.bread_plus {
  .detail_block {
    position: absolute;
    right: 12px;
    top: 2px;
  }
}

.children {
  margin-bottom:20px;
  .metaname {
    display: none;
  }
  .metavalue {
    ul {
      li {
        border: none;
        border-radius: 0;
      }
      &:nth-child(odd){
        background-color: #F9F9F9;
      }
      &:nth-child(even){
        background-color: #F5F5F5;
      }
    }
  }
}

.mir_metadata {
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }
  dt {
    width: 30%;
    text-align:right;
    float: left;
    color: #999;
    font-weight: normal;
    clear: both;
    margin-bottom: 10px;
  }
  dd {
    float: left;
    margin-left: 10px;
    width: 65%;
    margin-bottom: 10px;
  }
}

.system {
  dt {
    width: 40%;
    text-align:right;
    float: left;
    color: #999;
    font-weight: normal;
    clear: both;
  }
  dd {
    float: right;
    width: 55%;
  }
}