name: test

on: [ push, pull_request ]

env:
  MAVEN_OPTS: -Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS
  BIBUTILS_VERSION: 7.2

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
        cache: maven

    - name: Set up Browser
      run: |
        # Geckodriver
        echo ${GECKOWEBDRIVER} >> $GITHUB_PATH

        # Chromedriver
        echo ${CHROMEWEBDRIVER} >> $GITHUB_PATH

        firefox --version
        ${GECKOWEBDRIVER}/geckodriver --version

    - name: Fetch Bibutils cache
      id: bibutils-cache
      uses: actions/cache@v4
      with:
        path: ~/bibutils
        key: ${{ env.BIBUTILS_VERSION }}

    - name: Fetch Bibutils
      if: steps.bibutils-cache.outputs.cache-hit != 'true'
      run: |
        mkdir ~/bibutils
        curl -L https://downloads.sourceforge.net/project/bibutils/bibutils_${BIBUTILS_VERSION}_src.tgz | \
          tar -C ~/bibutils --strip-components=1 -xzvf-
        cd ~/bibutils
        ./configure
        make -j2

    - name: Set current date as env variable
      run: echo "BUILD_START=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Build
      run: |
        mkdir ${{ runner.temp }}/${{ github.run_id }}.tmp
        export TMPDIR=${{ runner.temp }}/${{ github.run_id }}.tmp
        export FIREFOX_BIN=$(which firefox)
        export SELENIUM_BROWSER=firefox

        mvn -B -P!standard-with-extra-repos -U -Djetty -e clean install
        mvn -P!standard-with-extra-repos -B javadoc:javadoc javadoc:test-javadoc -T1C
    - name: Login to Docker Hub
      if: contains('refs/heads/2022.06.x refs/heads/2023.06.x refs/heads/2024.06.x refs/heads/2025.06.x refs/heads/2025.12.x refs/heads/main', github.ref) && github.event_name=='push' && success()
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build the mir Docker images and push them
      if: contains('refs/heads/2022.06.x refs/heads/2023.06.x refs/heads/2024.06.x refs/heads/2025.06.x refs/heads/main', github.ref) && github.event_name=='push' && success()
      run: |
        docker build . --file Dockerfile --tag mycoreorg/mir:${GITHUB_REF_NAME} --tag mycoreorg/mir:${GITHUB_REF_NAME}-${BUILD_START}
        docker build mir-webapp/src/main/solr/ --file mir-webapp/src/main/solr/Dockerfile --tag mycoreorg/mir-solr:${GITHUB_REF_NAME} --tag mycoreorg/mir-solr:${GITHUB_REF_NAME}-${BUILD_START}
        docker push mycoreorg/mir:${GITHUB_REF_NAME} 
        docker push mycoreorg/mir:${GITHUB_REF_NAME}-${BUILD_START}
        docker push mycoreorg/mir-solr:${GITHUB_REF_NAME}
        docker push mycoreorg/mir-solr:${GITHUB_REF_NAME}-${BUILD_START}
    - name: Upload logs on build failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          ./**/surefire-reports
          ./**/failsafe-reports
          ./**/screenshots
          ./**/*error*.log
          ./**/*test.log
          ~/.m2/repository/solr-*/server/logs/*.log
